
@media screen and (min-width: 1251px) {


.cookies-box{
    height: 150px;
    width: 750px;
    background-color: rgb(21, 21, 21);
    border-radius: 15px 15px 15px 15px;
    border: solid 4px #fff;
    padding: 10px;
    position: fixed;
    bottom: 10; /* Encosta a caixa no fundo da tela */
    left: 50%;
}


.cookies-title{
    display: flex;
    flex-direction: row;
    margin: auto auto 10 auto;
    color: #fff;

}

.cookies-box .cookies-title h1{
    font-size: 25px;
    font-family: "Space Mono", monospace;
    letter-spacing: 0;

}

.cookies-title i{
    font-size: 20px;
    margin: auto 10 auto 0;
}

.cookies-box .text{
    display: flex;
    flex-direction: row;
    margin: auto auto 10 auto;
    color: #fff;

}

.cookies-box .text h2{
    color: #fff;
    font-size: 18px;
    font-family: "Fjalla One", sans-serif;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.5;

}

.cookies-box .text a{
    color: aqua;
    font-size: 20px;
    font-family: "Space Mono", monospace;

}

.cookies-box .buttons{

    margin: 15 auto 0 auto;

}

.cookies-box .buttons .button1,
.cookies-box .buttons .button2
{
    height: 40px;
    width: 200px;
    font-size: 16px;
}

.cookies-box .buttons .button1{
    background-color: rgb(0, 94, 255);
    color: #fff;
}

.cookies-box .buttons .button2{
    background-color: #fff;
    color: black;
}



@media screen and (max-width: 1600px) {

.cookies-box{
    height: 150px;
    width: 650px;
    background-color: rgb(21, 21, 21);
    border-radius: 15px 15px 15px 15px;
    border: solid 4px #fff;
    padding: 10px;
    position: fixed;
    bottom: 10; /* Encosta a caixa no fundo da tela */
    left: 50%;
}

}
}

@media screen and (max-width: 1251px) {


}